<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 >WEATHER </h1>
<form method="post" action='/'>
  <input id='so' type="text" name="w" value="{{qs.weather}}" placeholder="Enter the city"/>
  <input type="submit" value="GET WEATHER"/>
</form>
<p>{{k}}</p>
<!-- <p>No of times files are uploaded : {{c1}}</p>
<br>
<p>No of times files downloaded : {{c2}}</p>
<br>
<p>Names of the files uploaded so far </p> -->
<!-- <ul>
{{#each some}}
  <li>{{this}}<button onclick="a()">Download</button></li>
{{/each}}
</ul> -->
<!-- <script>
//var a=()=>window.open('/download');
var getwea=()=>window.open('/');
</script> -->
</body>
</html>
